body {
   padding: 10px;
   width: 300px;
   margin: 0 auto;
}
 .status {
   display: flex;
   justify-content: space-between;
   padding: 10px 0;
}
 .date-table__row:nth-child(n + 2) {
   margin-top: 2.5%;
}
 .date-row {
   display: flex;
   justify-content: space-between;
}
 .date-row__cell {
   position: relative;
   width: 12.1428571429%;
   cursor: pointer;
}
 .date-row__cell.-disabled {
   cursor: default;
}
 .date-row__cell::before {
   display: block;
   padding-top: 100%;
   content: '';
}
 .day {
   position: absolute;
   display: flex;
   top: 50%;
   left: 50%;
   width: 28px;
   height: 28px;
   color: #2b2d2f;
   align-items: center;
   justify-content: center;
   font-size: 16px;
   transform: translate(-50%, -50%);
}
 .day.-other {
   color: #ccc;
}
 .day.-now {
   color: #009A17;
   font-weight: 600;
}
 .day.-selected {
   color: #fff;
   background-color: #008013;
   border-radius: 50%;
}
